<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
    <li>Julia</li>
    <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Scikit-learn</li>
    <li>TensorFlow</li>
    <li>Keras</li>
</ol>

<table>
    <th>Data Science Tools</th>
    <tr><td>Jupyter Notebook</td></tr>
    <tr><td>R Studio</td></tr>
    <tr><td>Apache Zeppelin</td></tr>
    
</table>

Below are a few examples of evaluating arithmetic expressions in Python

Addition:
result = 5 + 3
print(result)

Subtraction:
result = 10 - 4
print(result)

Multiplication:
result = 7 * 6
print(result)

Division:
result = 15 / 3
print(result)

In [1]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
Min = 200
Hours = Min/60
Hours

3.3333333333333335

**Objective**
<ul>
    <li>Popular languages that Data Scientists</li>
    <li>Commonly used libraries used by Data Scientists</li>
    <li>Table of Data Science Tools</li>
    <li>Evaluating arithmetic expressions in Python</li>
    <li>Simple arithmetic expression to multiply then add integers</li>
    <li>Convert 200 minutes to hours by dividing by 60</li>
    
</ul>

<H2>Author</H2>
<P>Aayush Tripathi</P>